.container
{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-columns: 400px auto 200px;
    grid-template-columns: 300px 300px 300px;
    grid-template-columns: repeat(7,auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px;
    justify-content: center;
    background-color: rgb(45, 185, 75);
    height: auto;
}
.item{
    background-color: rgb(179, 168, 155);
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.item1
{
    background-color: bisque;
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.item1
{
    grid-column: 1/4;
    grid-column: 1/span 3;
    grid-row: 1/span 3;
}